@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bgBase: 39deg 85% 95%;
    --color-content: 0deg 0% 20%;
  }
}

:root[data-theme="light"] {
  --color-bgBase: 39deg 85% 95%;
  --color-content: 0deg 0% 20%;
}